body {
    align-items: center;
    justify-content: center;
    display: flex;

}

#board {
    background-image: url("background.jpg");
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    width: 600px;
    height: 600px;
    min-width: 600px;
    min-height: 600px;
}

.cell {
    font-size: 60px;
    height: 75px;
    width: 75px;
    display: flex;

}

.black {
    background-color: lightskyblue;
}